<div class="container mx-auto px-4 lg:px-8 max-w-5xl text-center space-y-4">
    <p class="text-sm text-slate-500">
        &copy; 2026 Gandaki Orthopaedic Association (GOA). All Rights Reserved.
    </p>
    <div class="sidebar-socials flex justify-center gap-4 text-slate-400">
        <span>Contact Us:</span>
        <a href="https://wa.me/98XXXXXXX" target="_blank" aria-label="Whatsapp" class="hover:text-white transition"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100084470397359" target="_blank" aria-label="Facebook" class="hover:text-white transition"><i class="fa-brands fa-facebook-f"></i></a>
				<a href="https://m.me/100084470397359" target="_blank" aria-label="Messenger" class="hover:text-white transition"><i class="fa-brands fa-facebook-messenger"></i></a>
				<a href="viber://chat?number=9779846202123" aria-label="Viber" class="hover:text-white transition"><i class="fa-brands fa-viber"></i></a>
                <a href="mailto:gandakiorthopaedicassociation@gmail.com,goacon2024sc@gmail.com" aria-label="Email" class="hover:text-white transition"><i class="fa-solid fa-envelope"></i></a>
    </div>
</div>
